body {
  background: url('/assets/tile.gif') repeat center;
}

.alert {
  webkit-box-shadow: none;
  box-shadow: none;
}

.container {
  width: 970px;
  background-color: #fff;
  padding-left: 3px;
}

#wrapper {
  width: 100%;
  background: url('/assets/rockwood-panel.png') repeat-y top center;
  padding-left: 25px;
}

#rockwood-header {
  background: transparent url(/assets/header.gif) no-repeat scroll 0 0;
  width: 970px;
  margin-left:-3px;
  margin-top: 0px;
}

.eval-container {
  padding: 30px;
  padding-top: 130px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  color: #730101;
  line-height: 30px;
  text-shadow: 0px 1px 1px #F1F2E9;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 0 0 0.8em;
  padding: 0 0 0 0;
  color: #800101;
  line-height: 19px;
}

p {
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  line-height: 19px;
}



form fieldset.inputs {
  background: inherit;
  box-shadow: none;
  webkit-box-shadow: none;
}


input[type=range] {
    /*-webkit-appearance: none;*/
    -webkit-box-shadow: none;
    /*background-color: silver;*/
    width: 40%;
    height:20px;
    margin-top:18px;
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: none;
}

/*input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: green;
    width: 18px;
    height: 35px;
}*/


input[type=range]:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-sizing: none;
}

label.control-label {
  font-size: 1.2em;
}

fieldset {
  border: none;
}

label.output {
  margin-left: 30px;
  font-size: 2em;
  color: green;
}

#evaluation-edit .btn {
  margin-right: 10px;
  float: right;
}

#invitations .form-control {
  
  display:inline;
  width: 300px;
}

#invitations .control-label {
  display: inline;
  margin-right: 8px;
}

.alert {
  margin-top: 14px;
  font-weight: bold;
}

#reminder-modal textarea {
  display: block;
  width: 95%;
  margin-top:10px;
}

